<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/dataparse/css/stylea.css">
		<title>My Facebook Data</title>
	</head>
	<body>
		<div class="top-container">
		
			<div class="top-left">
				<div class="inner-box-left">
					<h3>Upload Data Here</h3>
					<form action='' method='post' enctype='multipart/form-data'>
						{% csrf_token %}
						<div class="forma">
						| {{ form }} |
						</div>
						<input type='submit' value='Submit'>
					</form>
				</div>
			</div>
			
			{% if output_dict == '' %}
			<div class="top-right-first">
				<div class="instruction-box">
					<h3 class="instruction-title">Viewing Your Facebook Data</h3>
					<ol class="instruction-list">
						<li>Login to your Facebook account.</li>
						<li>Click the down arrow in the upper right.</li>
						<li>Click <strong>Settings and Privacy</strong>, and then click <strong>Settings</strong>.</li>
						<li>Click <strong>Your Facebook Information</strong> on the left.</li>
						<li>Click the box for <strong>Download Your Information</strong>.</li>
						<li>Under <strong>Request Copy</strong> select:</li>
							Date Range: <strong>All of my data</strong><br>
							Format: <strong>JSON</strong> (this is not the default)<br>
							Media Quality: <strong>High</strong>
						<li>Click <strong>Create File</strong> and then wait 3 to 10 minutes.</li>
						<li>Click <strong>Available Copies</strong>.</li>
						<li>When your data is available, click the <strong>Download</strong> button to download it.</li>
						<li>Enter your Facebook password and save the zip file to your computer.</li>
						<li>On this site, upload your Facebook zip file by clicking <strong>Browse...</strong>, then selecting the zip file from your computer, and then clicking <strong>Submit</strong>.</li>
						<li>After viewing your Facebook data, click <strong>Clear</strong> to completely clear it from our site.</li>
					</ol>
				</div>
			</div>
			
			{% else %}
			<div class="top-right-second">
				<button class="expand-icon-1" onclick="slide('left')"><<</button>
				<button class="expand-icon-2" onclick="slide('right')">>></button>
				
				<div class="fade-panel">
					<ul class="nav nav-tabs nav-fix">
						<li class="nav-item">
							<a onclick="tabData=scrollSwitch(1);" id="tab-one" data-target="#tabone" class="nav-link mytabs active">OFA</a>
						</li>
						<li class="nav-item">
							<a onclick="tabData=scrollSwitch(2);" id="tab-two" data-target="#tabtwo" class="nav-link mytabs">ADS</a>
						</li>
						<li class="nav-item">
							<a onclick="tabData=scrollSwitch(3);" id="tab-three" data-target="#tabthree" class="nav-link mytabs">YSH</a>
						</li>
						<li class="blanktab">
						</li>
						<li class="nav-item">
							<a href="/" class="nav-link cleartab">Clear</a>
						</li>
					</ul>
					<div class="scroll-bar-block"></div>
				</div>
				
				<div class="tab-content inner-box-right">
				
<!--					<div class="tab-content">-->
					
						<div class="tab-pane fade show data-pane active" id="tabone">
							<div class="data-description">
							<h4 style="margin-bottom:0px;">Off Facebook Activity</h4>
							<i>Data about you that other companies shared with Facebook</i>
							<div style="height:15px;"></div>
							</div>
							{% for key,values in output_dict.off_facebook_output.items %}
							<p>
								<strong>{{ key }}</strong>
								{% for vlist in values %}
								<br>
								{{ vlist.2 }} at {{ vlist.1 }} on {{ vlist.0 }}
								{% endfor %}
							</p>
							{% endfor %}
						</div>
						
						<div class="tab-pane fade data-pane" id="tabtwo">
							<div class="data-description">
							<h4 style="margin-bottom:0px;">Advertiser Data Sharing</h4>
							<i>All advertisers that shared your data with Facebook</i>
							<div style="height:15px;"></div>
							</div>
							{% for item in output_dict.advertiser_upload_output %}
								{{ item }}
								<br>
							{% endfor %}
						</div>
						
						<div class="tab-pane fade data-pane" id="tabthree">
							<div class="data-description">
							<h4 style="margin-bottom:0px;">Your Search History</h4>
							<i>Search data from you that Facebook has saved</i>
							<div style="height:15px;"></div>
							</div>
							{% for item in output_dict.search_history_output %}
								<p>
								Time: {{ item.1 }} on {{ item.0 }}
								<br>
								Your Search: {{ item.2 }}
								</p>
							{% endfor %}
						</div>
						
<!--					</div>-->
				</div>
			</div>
			{% endif %}
		</div>
		
<!--		<div class="bottom-container">-->
<!--			Hello-->
<!--		</div>-->
		
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<!-- My JavaScript -->
		<script src="/static/dataparse/js/scripta.js"></script>
		
	</body>
</html>









