a:hover {
  cursor: pointer; }

.top-container {
  display: flex;
  height: 100vh;
  color: white; }

.top-left {
  display: flex;
  flex: 1;
  background-color: #331461;
  align-items: center;
  justify-content: center;
  overflow-x: hidden; }

.inner-box-left {
  display: inline-block;
  text-align: center; }

.forma {
  margin-top: 15px;
  margin-bottom: 15px; }

.top-right-first {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #03494a;
  align-items: center;
  justify-content: center; }

.instruction-box {
  text-align: center;
  max-width: 415px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  overflow-y: auto;
  padding-right: 15px; }

.instruction-title {
  margin-bottom: 15px; }

.instruction-list {
  display: inline-block;
  text-align: left; }

.top-right-second {
  display: flex;
  flex: 1;
  background-color: #03494a;
  justify-content: center; }

.expand-icon-1 {
  position: absolute;
  opacity: 0.5;
  width: 30px;
  height: 30px;
  left: calc(50vw - 22px);
  top: calc(50vh - 15px);
  padding: 0px; }

.expand-icon-1:hover {
  color: white; }

.expand-icon-2 {
  position: absolute;
  opacity: 0.5;
  width: 30px;
  height: 30px;
  left: 10px;
  top: calc(50vh - 15px);
  padding: 0px;
  display: none; }

.expand-icon-2:hover {
  color: white; }

.inner-box-right {
  max-width: 415px;
  overflow-y: auto;
  padding-right: 5px;
  margin-top: 56px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px; }

.fade-panel {
  position: absolute;
  max-width: 415px;
  height: 80px;
  top: 0px;
  background: linear-gradient(#03494a 70%, transparent); }

.nav-fix {
  margin-top: 15px;
  margin-right: 3px;
  margin-left: 3px; }

.scroll-bar-block {
  position: absolute;
  right: 0px;
  width: 12px;
  height: 20px;
  background: linear-gradient(#03494a, transparent); }

.data-pane {
  margin-top: 15px;
  padding-right: 3px;
  overflow-wrap: break-word; }

.mytabs {
  color: white; }

.mytabs:hover {
  color: white; }

.blanktab {
  width: calc(100vw - 281px);
  max-width: 144px; }

.cleartab {
  color: white; }

.cleartab:hover {
  color: black;
  border: none;
  border-radius: 0px;
  background-color: orange; }

.data-description {
  color: lightgrey;
  margin-right: 15px; }

@media screen and (max-width: 900px) {
  .top-container {
    flex-direction: column;
    height: auto; }

  .top-left {
    flex: 0;
    padding-top: 15px;
    padding-bottom: 15px; }

  .inner-box-left {
    top: 0px; }

  .top-right-first {
    flex: auto;
    min-height: 100vh; }

  .top-right-second {
    flex: auto;
    min-height: 100vh;
    flex-direction: column;
    align-items: center; }

  .expand-icon-1 {
    display: none; }

  .expand-icon-2 {
    position: fixed;
    top: calc(50vh - 15px); }

  .inner-box-right {
    margin-top: 0px;
    overflow-y: visible; }

  .fade-panel {
    position: sticky;
    padding-top: 15px; }

  .nav-fix {
    margin-top: 0px; }

  .scroll-bar-block {
    display: none; }

  .data-pane {
    margin-top: -10px;
    border-right: 1px solid white;
    margin-right: 1px; } }
@media screen and (max-width: 415px) {
  .data-pane {
    width: calc(100vw - 30px); }

  .top-left {
    font-size: 4vw; } }

/*# sourceMappingURL=stylea.css.map */
